{% assign nav = site.data.navigation %}
{% if page.dir == '/archaic_web_dev/' %}
  {% assign nav = nav.archaic_web_dev %}
{% elsif page.dir == '/pokemon/' %}
  {% assign nav = nav.pokemon %}
{% endif %}

{% assign page_name = page.name | split: '.' %}
{% assign page_name = page_name[0] | append: '.html' %}

<div class="container">

    <div class="row align-items-start">

      {% for item in nav %}
        {% if page_name == item.link %}
          {% if forloop.first %}
            <a class="col btn btn-secondary" disabled role="button">
              &larr; N/A
            </a>
          {% else %}
            {% assign prev = forloop.index0 | minus: 1 %}
            <a class="col btn btn-primary"
              href="{{ page.dir | append: nav[prev].link  }}"
              role="button">
              &larr; {{ nav[prev].name }}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <div class="col dropdown" style="padding: 0">
        <a class="btn btn-secondary dropdown-toggle" 
          style="width: 100%"
          type="button"
          id="nav-dropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          All Pages
        </a>
        <ul class="dropdown-menu" style="width: 100%" aria-labelledby="nav-dropdown">
            <li> <a class="dropdown-item" href="/"> Home </a> <li>
          {% for item in nav %}
            <li>
              <a class="dropdown-item{% if page_name == item.link %} active{% endif %}"
                href="{{ page.dir | append: item.link }}">
                {{ item.name }}
              </a>
            <li>
          {% endfor %}
        </ul>
      </div>

      {% for item in nav %}
        {% if page_name == item.link %}
          {% if forloop.last %}
            <a class="col btn btn-secondary" disabled role="button">
              N/A &rarr;
            </a>
          {% else %}
            {% assign next = forloop.index0 | plus: 1 %}
            <a class="col btn btn-primary"
              href="{{ page.dir | append: nav[next].link  }}"
              role="button">
              {{ nav[next].name }} &rarr;
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </div>

</div>
