<div class="container">

    <div class="row aligm-items-start">

      {% for item in site.data.navigation %}
        {% if page.url == item.link %}
          {% if forloop.first -%}
            <a class="col btn btn-primary" disabled role="button">
              &larr; N/A
            </a>
          {% else -%}
            {% assign prev = forloop.index0 | minus: 1 %}
            <a class="col btn btn-primary"
              href="{{ site.data.navigation[prev].link  }}"
              role="button">
              &larr; {{ site.data.navigation[prev].name }}
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% for item in site.data.navigation %}
        {% if page.url == item.link %}
          {% if forloop.last -%}
            <a class="col btn btn-primary" disabled role="button">
              N/A &rarr;
            </a>
          {% else -%}
            {% assign next = forloop.index0 | plus: 1 %}
            <a class="col btn btn-primary"
              href="{{ site.data.navigation[next].link  }}"
              role="button">
              {{ site.data.navigation[next].name }} &rarr;
            </a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </div>

</div>
